<div th:replace="compartilhado/topo"></div>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Administratores</h1>
                    <p class="mb-4">Pagina administradores <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Tabela Administratores</h6>
                            <a href="/administradores/novo" class="btn btn-success">Novo</a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Email</th>
                                            <th>Endereço</th>
                                            <th>Senha</th>
                                            <th> </th>     
                                            <th> </th>                                                                   
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Endereço</th>
                                            <th>Senha</th>
                                            <th> </th> 
                                            <th> </th>

                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr th:each = "administrador : ${lista}">
                                            <td th:text = "${administrador.id}"></td>
                                            <td th:text = "${administrador.nome}"></td>
                                            <td th:text = "${administrador.email}"></td>
                                            <td th:text = "${administrador.senha}"></td>
                                            <td><a href="#" th:onclick="'if(confirm(\'Tem certeza que deseja editar o administrador?\')){ window.location.href = \'' + @{/administradores/editar/{id}(id=${administrador.id})} + '\'}'"  class="btn btn-warning">Alterar</a></td>
                                            <td>
                                                <a href="#" th:onclick="'if(confirm(\'Tem certeza que deseja excluir o administrador?\')){ window.location.href = \'' + @{/administradores/remover/{id}(id=${administrador.id})} + '\'}'" class="btn btn-danger">Excluir</a>
                                              </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
<div th:replace="compartilhado/baixo"></div>